.layout {
    background-color: crimson;
    column-gap: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    justify-content: stretch;
    overflow: hidden;
    place-items: center start;
    width: 100vw;
}
