.dixi-form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dixi-form-cadastro__row {
    display: grid;
    gap: 16px;
    grid-template-columns: 2fr 1fr;
}

.dixi-form-cadastro__actions {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}
@media (width <= 768px) {
    .dixi-form-cadastro__row {
        grid-template-columns: 1fr;
    }
}
