:root {
    /* Sistema */
    color-scheme: light dark;
    user-select: none;
    /* Cores */
    --azul-base: #3379bc;
    --azul-hover: #40a5dd;
    --azul-leve: #c8e5f4;
    --background: #fff;
    --background-2: #f9fafa;
    --outline: #ebedee;
    --trancado-ou-explicativo: #c8c8c8;
    --texto-placeholder: #afafaf;
    --titulo-de-campo: #9b9b9b;
    --corpo-de-texto: #7a7a7a;
    --tooltip: #525252;
    --texto-destaque: #000;
    /* Fonte */
    --sans-regular: 400;
    --sans-semibold: 600;
    --sans-bold: 700;
    /* Tamanho das fontes */
    --titulo-de-pagina: 35px;
    --titulo-de-modal: 20px;
    --subtitulo: 16px;
    --titulo-de-campo-de-texto: 10px;
    --interior-de-campo-de-texto: 14px;
    --texto-de-botao: 14px;
    @media (width <= 1024px) {
        font-size: 16px;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --azul-base: #3379bc;
        --azul-hover: #40a5dd;
        --azul-leve: #c8e5f4;
        --background: #121212;
        --background-2: #1e1e1e;
        --outline: #2c2c2c;
        --trancado-ou-explicativo: #5c5c5c;
        --texto-placeholder: #808080;
        --titulo-de-campo: #b3b3b3;
        --corpo-de-texto: #e0e0e0;
        --tooltip: #2a2a2a;
        --texto-destaque: #fff;
    }
}

body {
    font-family: "Open Sans", sans-serif;
}
